.Mana {
  color: var(--light-blue);
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  font-weight: 200;
  font-size: 1em;
}

.Mana.disabled {
  color: var(--gray);
}

.Mana .symbol {
  transform: translateY(-0.1em);
}
