.TransferManaForm .ui.button + .ui.button {
  margin-left: 20px;
}

.TransferManaForm .transfer-warning {
  color: var(--gray);
  font-style: italic;
}

.TransferManaForm .transfer-warning.error {
  color: var(--red);
}

@media (min-width: 768px) {
  .TransferManaForm {
    min-width: 400px;
  }
}

@media (max-width: 768px) {
  .TransferManaForm .ui.button + .ui.button {
    margin-left: 0px;
  }
}
