.Publication {
  width: calc(100% - 14px) !important;
}

@media (min-width: 480px) {
  .Publication {
    width: calc(50% - 14px) !important;
  }
}

@media (min-width: 768px) {
  .Publication {
    width: calc(33% - 14px) !important;
  }
}

@media (min-width: 992px) {
  .Publication {
    width: calc(25% - 14px) !important;
  }
}

.Publication .tx-icon {
  position: absolute;
  right: 12px;
  top: 12px;
}

.Publication .tx-icon .confirmed {
  color: var(--green);
}

.Publication .tx-icon .pending {
  color: var(--yellow) !important;
}

.Publication .tx-icon .failed {
  color: var(--red) !important;
}

.Publication .price {
  margin: 0px;
}

.Publication .footer {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.Publication .footer:after {
  display: none;
}
