.Sidebar {
  height: 100%;
  max-height: 100%;
  top: 0;
  left: -24px;
  position: relative;
  float: left;
  z-index: 700;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  user-select: text;
}

.Sidebar.in .fadein {
  animation: 0.5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Sidebar header {
  padding: 12px 18px 8px;
  border-bottom: 1px solid #ededed;
  background-color: #fcfcfc;
  position: relative;
}

.Sidebar .Icon-decentraland {
  width: 36px;
  height: 36px;
  margin: 6px; /* Compensate the loading icon */
}

.Sidebar .Icon-decentraland-loading {
  width: 48px;
  height: 48px;
}

.Sidebar .sidebar-title {
  margin: 5px 4px 0;
  font-size: 18px;
  letter-spacing: -0.2px;
  line-height: 38px;
  color: #232323;
  font-family: 'Source Sans Pro SemiBold', Helvetica, sans-serif;
  vertical-align: top;
  display: inline-block;
}

.Sidebar .Icon-laquo {
  top: 38px;
  right: 24px;
  position: absolute;
  cursor: pointer;
}

.Sidebar .heading {
  padding: 16px;
  border-top: 1px solid #ededed;
  font-size: 14px;
  background-color: #fcfcfc;
  color: #000000;
  font-family: 'Source Sans Pro SemiBold', Helvetica, sans-serif;
}

.Sidebar .toggle-button {
  width: 26px;
  height: 88px;
  top: 50%;
  right: -26px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
.Sidebar .toggle-button.in {
  background-image: url('../../../images/collapseArrow.svg');
}
.Sidebar .toggle-button.out {
  background-image: url('../../../images/expandArrow.svg');
}
