html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

a, .link {
  color: #30D7A9;
  cursor: pointer;
}

a:hover, .link:hover {
  color: #30D7A9;
  text-decoration: none;
}

#app {
  height: 100%;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

/* -----------------------------------------------------------------------
  Key colors */

.my-parcels   { background-color: #D98494; color: #D98494; fill: #D98494; }
.district     { background-color: #73C7E1; color: #73C7E1; fill: #73C7E1; }
.contribution { background-color: #4A90E2; color: #4A90E2; fill: #4A90E2; }
.roads        { background-color: #39516B; color: #39516B; fill: #39516B; }
.plaza        { background-color: #FCFCFC; color: #FCFCFC; fill: #FCFCFC; }
.taken        { background-color: #AEDC89; color: #AEDC89; fill: #AEDC89; }
.unowned      { background-color: #F9F7E8; color: #F9F7E8; fill: #F9F7E8; }
.loading      { background-color: #AAAAAA; color: #AAAAAA; fill: #AAAAAA; }

/* -----------------------------------------------------------------------
  Form Elements */

label {
  font-weight: 400;
}

input[type=email], input[type=number], input[type=password], input[type=text], textarea {
  border: 1px solid #EEE;
  padding: 10px;
  font-size: 15px;
  border-radius: .4px;
  outline: none;
}

input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=text]:focus {
  border-color: #30D7A9;
}

button {
  cursor: pointer
}
