* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

a, .link {
  color: var(--primary);
  cursor: pointer;
}

a:hover, .link:hover {
  color: var(--primary);
  text-decoration: none;
}

#app {
  height: 100%;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

/* -----------------------------------------------------------------------
  Key colors */

.my-parcels   { background-color: #D98494; color: #D98494; fill: #D98494; }
.district     { background-color: #73C7E1; color: #73C7E1; fill: #73C7E1; }
.contribution { background-color: #4A90E2; color: #4A90E2; fill: #4A90E2; }
.roads        { background-color: #39516B; color: #39516B; fill: #39516B; }
.plaza        { background-color: #FCFCFC; color: #FCFCFC; fill: #FCFCFC; }
.taken        { background-color: #AEDC89; color: #AEDC89; fill: #AEDC89; }
.unowned      { background-color: #F9F7E8; color: #F9F7E8; fill: #F9F7E8; }
.loading      { background-color: #AAAAAA; color: #AAAAAA; fill: #AAAAAA; }

/* -----------------------------------------------------------------------
  Form Elements */


label {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
  display: inline-block;
}

input[type="search"] {
  box-sizing: border-box
}

input[type="radio"],input[type="checkbox"] {
  margin: 5px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  width: 100%;
  display: block;
}

select[multiple], select[size] {
  height: auto;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type=email], input[type=number], input[type=password], input[type=text], textarea {
  border: 1px solid #EEE;
  padding: 10px;
  font-size: 15px;
  border-radius: .4px;
  outline: none;
}

input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=text]:focus {
  border-color: var(--primary);
}

input::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder {
  color: #9c9c9b;
}

button[disabled], input[disabled] {
  cursor: default;
}

button[disabled]:hover {
  box-shadow: none;
}

button {
  cursor: pointer
}
