.ActivityPage.container {
  overflow: visible;
  color: var(--text);
}

.ActivityPage .section-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.ActivityPage .empty {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
  color: var(--gray);
}

.ActivityPage .sign-in {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.ActivityPage .pending-transaction-list {
  margin-bottom: 30px;
}

.ActivityPage .clear-button {
  text-align: right !important;
}

@media (max-width: 768px) {
  .ActivityPage {
    padding-left: 1em;
    padding-right: 1em;
  }
}
