.ActivityPage.container {
  overflow: visible;
  color: var(--text);
}

.ActivityPage .section-title {
  margin-bottom: 6px;
  font-size: 32px;
  font-weight: 600;
  display: flex;
}

.ActivityPage .section-subtitle {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
}

.ActivityPage .empty {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
  color: var(--gray);
}

.ActivityPage .sign-in {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.ActivityPage .transaction-list {
  margin-top: 48px;
}

.ActivityPage .clear-button {
  margin-left: auto;
}

@media (max-width: 768px) {
  .ActivityPage {
    padding-left: 1em;
    padding-right: 1em;
  }
}
