.TermsModal {
  color: var(--text);
  user-select: text;
}

.TermsModal .modal-header {
  padding: 15px 15px 0;
  border: none;
  background-color: var(--background);
}

.TermsModal .modal-header .close {
  display: none;
}

.TermsModal .banner {
  padding: 0px 0 25px;
  border-bottom: 1px solid var(--light-gray);
  background-color: var(--background);
  text-align: center;
}

.TermsModal h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  padding-right: 60px;
}

.TermsModal h4 {
  font-size: 18px;
  font-weight: bold;
}

.TermsModal .banner h2 {
  font-size: 28px;
  margin-top: 0;
  padding-top: 0;
  font-family: "Source Sans Pro Light", Helvetica, sans-serif;
}

.TermsModal .banner .Icon-decentraland {
  width: 40px;
  height: 40px;
  top: 10px;
  position: relative;
  right: 7px;
}

.TermsModal .modal-body {
  padding: 30px 50px;
}

.TermsModal .modal-body p {
  font-family: "Source Sans Pro Light", Helvetica, sans-serif;
  font-size: 16px;
}

.little-value {
  top: 0;
  left: 0;
  border-top: 32px solid #CCC; /* color on index.css */
  border-right: 32px solid transparent;
}
.big-value {
  bottom: 0;
  right: 0;
  border-bottom: 32px solid #CCC; /* color on index.css */
  border-left: 32px solid transparent;
}

.TermsModal .get-started {
  margin-top: 50px;
  text-align: center;
}

.TermsModal .get-started .button {
  padding: 11px 44px;
  border-radius: 20px;
}
