.ParcelTags .tag.small {
  margin-right: 6px;
}
.ParcelTags .tag.small .tag-icon {
  width: 24px;
  height: 24px;
  background-size: 50%;
  border-radius: 4px;
}

.ParcelTags .tag.medium {
  margin-right: 48px;
}
.ParcelTags .tag.medium .tag-icon {
  width: 48px;
  height: 48px;
  padding: 10px;
  border-radius: 8px;
}

.ParcelTags .tag.large {
  margin-right: 48px;
}
.ParcelTags .tag.large .tag-icon {
  width: 96px;
  height: 96px;
  padding: 15px;
  border-radius: 10px;
}

.ParcelTags .tag,
.ParcelTags .tag-icon,
.ParcelTags .tag-details {
  float: left;
}

.ParcelTags .tag-icon {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: inset 0 0 16px 0 rgba(0, 0, 0, 0.16);
  background-repeat: no-repeat;
  background-position: center;
}

.ParcelTags .tag-icon-road {
  background-color: #838aa3;
  background-image: url('../../images/road-icon.svg');
}

/* Edge case given the plaza dimensions */
.ParcelTags .tag.small .tag-icon-plaza {
  background-size: 70%;
}
.ParcelTags .tag-icon-plaza {
  background-color: #8dbe92;
  background-image: url('../../images/plaza-icon.svg');
}

.ParcelTags .tag-icon-district {
  background-color: #7479ff;
  background-image: url('../../images/district-icon.svg');
}

.ParcelTags .tag h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.ParcelTags .tag p {
  color: var(--gray);
}

.ParcelTags .tag-details {
  margin-left: 16px;
}

@media (max-width: 768px) {
  .ParcelDetail .tag {
    margin-bottom: 24px;
    width: 100%;
  }

  .ParcelDetail .tag:bottom-child {
    margin-bottom: 0;
  }
}
