.BuyParcelPage .subtitle {
  color: white;
  font-weight: 100;
  font-size: 1.2em;
  margin: 20px;
  display: inline-block;
}

.BuyParcelPage .message.warning h3 {
  font-weight: bolder;
}

.BuyParcelPage button + button {
  margin-left: 15px !important;
}

.BuyParcelPage .sign-in {
  display: block;
  text-align: center;
  margin-top: 50px;
}
