.BuyParcelPage .subtitle {
  font-weight: 100;
  font-family: 'Source Sans Pro Light';
  font-size: 1.2em;
  margin: 20px;
  display: inline-block;
}

.BuyParcelPage .price {
  font-family: 'Source Sans Pro';
}

.BuyParcelPage button + button {
  margin-left: 15px !important;
}

.BuyParcelPage .sign-in {
  display: block;
  text-align: center;
  margin-top: 50px;
}
