.TransferParcelPage .ui.header.title {
  margin-top: 30px;
  margin-bottom: 0;
}

.TransferParcelPage .subtitle {
  color: var(--purple);
  font-weight: 100;
  font-family: 'Source Sans Pro Light', Helvetica, sans-serif;
}
