.Page > .EstateSelect {
  padding-top: 0;
}

.EstateSelect {
  color: var(--text);
  font-size: 15px;
}

.EstateSelect .estate-selection {
  margin: 30px 0;
}

.EstateSelect .estate-selection .header {
  display: inline-block;
}

.EstateSelect .estate-selection .parcels-included-description {
  font-size: 18px;
  color: var(--gray);
}

.EstateSelect .estate-selection .dissolve-button {
  padding-top: 6px;
  float: right;
}

.EstateSelect .tx-label {
  text-align: left;
  font-size: 14px;
  margin-top: 15px;
  color: var(--text);
}

@media (max-width: 475px) {
  .EstateSelect .estate-selection .dissolve-button {
    padding-bottom: 6px;
    float: none;
  }
}
