.ManageAssetForm .transfer-warning {
  color: var(--gray);
  font-style: italic;
}

.ManageAssetForm .address-wrapper {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
}

.ManageAssetForm .address-input {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ManageAssetForm .address-wrapper .AddressBlock {
  flex: none;
  margin-right: 10px;
}

.ManageAssetForm .address-label {
  color: white;
}

.ManageAssetForm .address-input.revoked .address-label {
  color: var(--gray);
  text-decoration: line-through;
}

.ManageAssetForm .address-actions button + button {
  margin-left: 20px;
}

.ManageAssetForm .loader-wrapper {
  position: relative;
  width: 100%;
  height: 100px;
}
