.Minimap {
  width: 150px;
  height: 149px;
  background: black url('../../../../images/minimap.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1040;
  opacity: 1;
  border: 2px solid #0d0e18;
  border-bottom: none;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.Minimap .minimap-focus {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  pointer-events: none;
}
