.Page > .EstateDetail {
  color: var(--text);
  font-size: 15px;
  padding-top: 0px;
}

.EstateDetail .estate-title {
  margin-bottom: 5px;
}

.EstateDetail .manage-button {
  margin-left: 25px;
}

.EstateDetail .estate-title > span {
  margin-right: 16px;
}

.EstateDetail .estate-title .LandAmount {
  display: inline-flex;
  font-size: 20px;
  transform: translateY(-2px);
}

.EstateDetail .estate-description {
  color: var(--gray);
  font-size: 15px;
}

.EstateDetail .estate-owner-container {
  text-align: right !important;
}

.EstateDetail .row .estate-data.column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-content: center;
}

.EstateDetail .estate-data h3 {
  margin: auto 0 15px 0;
}

.EstateDetail .estate-data .description {
  margin: 0 0 auto 0;
}

.EstateDetail .estate-actions-container {
  text-align: right;
}

.EstateDetail .owned-by {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  color: var(--gray);
}

.EstateDetail h3 {
  font-family: var(--font-family) !important;
}

.EstateDetail .mana-price-icon {
  font-size: 1.5em;
}

.EstateDetail .time-left .PublicationExpiration {
  font-size: 20px;
  display: block;
  color: var(--gray);
}

.EstateDetail .AddressBlock {
  height: 24px;
  margin-left: 10px;
}

.EstateDetail .details {
  margin-top: 20px;
}

.EstateDetail .details .parcels-included-title {
  width: 100%;
  font-size: 18px;
  color: white;
  margin-bottom: 0;
  text-align: left;
}

.EstateDetail .details .parcels-included-title .button.tiny.link {
  margin-left: 16px;
}

.EstateDetail .details .parcels-included-headline.column {
  margin-top: 20px;
  text-align: right;
}

.EstateDetail .details .parcels-included.column {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.EstateDetail .parcels-included .ParcelCoords {
  margin-right: 16px;
  margin-top: 20px;
}

.EstateDetail.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.EstateDetail.empty .empty-estate-message {
  color: var(--gray);
}

.EstateDetail .row .column.highlights {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .EstateDetail .estate-owner-container {
    text-align: left !important;
  }

  .EstateDetail .parcels-included .ParcelCoords {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
