.EstateDetail {
  color: var(--text);
  font-size: 15px;
}

.EstateDetail .estate-title{
  margin-bottom: 5px;
}

.EstateDetail .estate-description{
  color: var(--gray);
  font-size: 15px;
}

.EstateDetail .row .parcels.column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-content: center;
}

.EstateDetail .parcels h3 {
  margin: auto 0 15px 0;
}

.EstateDetail .parcels .description {
  margin: 0 0 auto 0;
}

.EstateDetail .EstateActions {
  text-align: right;
}

.EstateDetail .details {
  margin-top: 20px;
}

.EstateDetail .details .parcels-included {
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
  color: var(--gray);
  margin-bottom: 0px;
}

.EstateDetail .details .selected-parcels.column {
  display: flex;
  flex-wrap: wrap;
}

.selected-parcels .ParcelCard {
  margin-top: 20px !important;
  margin-bottom: 0;
  margin-right: 25px;
}
