.EstateModal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.EstateModal .modal-column {
  display: flex;
  flex-flow: column nowrap;
  flex: none;
}

.EstateModal .modal-preview {
  width: 217px;
  height: 217px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
}

.EstateModal .modal-title {
  margin: 0px 50px;
}

.EstateModal .modal-subtitle {
  color: var(--gray);
  font-weight: 100;
  font-size: 1em;
  margin: 15px 50px;
  display: inline-block;
}

.EstateModal .modal-children {
  margin: 0px 0px 0px 50px;
}

.EstateModal .tx-idle {
  margin: 0 auto 20px;
  width: 310px;
}

/* TODO: rules are duplicated on ParcelModal */
@media (max-width: 768px) {
  .EstateModal {
    flex-flow: column nowrap;
  }

  .EstateModal .modal-preview {
    width: calc(100% - 4em);
    margin: 2em;
  }

  .EstateModal .modal-children {
    margin: 0px 50px 0px 50px;
  }

  .EstateModal .modal-buttons {
    display: flex;
    flex-flow: column-reverse nowrap;
  }

  .EstateModal .modal-buttons .button {
    margin-top: 1em;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .EstateModal .modal-children {
    min-width: 420px;
  }

  .EstateModal .modal-buttons .ui.button + .ui.button {
    margin-left: 20px;
  }
}
