.ui.card {
  overflow: hidden;
  background-color: var(--dark-gray) !important;
  border: none !important;
  box-shadow: none !important;
}

.ui.card .meta, .ui.cards>.card .meta {
  color: var(--gray);
}
