h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.ui.header {
  font-family: 'Source Sans Pro Light', Helvetica, sans-serif !important;
  font-weight: 400;
  color: var(--purple) !important;
}

.ui.header.huge {
  font-size: 42px !important;
}
