.ui.form .input {
  margin-bottom: 10px;
}

.ui.form .input input[type='text'],
.ui.form .input input[type='number'],
.ui.form .input input[type='date'],
.ui.form .disabled input {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid var(--dark-gray);
  border-radius: 0px;
  color: white;
}

.ui.form .input input[type='text']:focus,
.ui.form .input input[type='text']:hover,
.ui.form .input input[type='number']:focus,
.ui.form .input input[type='number']:hover,
.ui.form .input input[type='date']:focus,
.ui.form .input input[type='date']:hover {
  border-bottom: 2px solid white;
}

.ui.form .input.error input[type='text'],
.ui.form .input.error input[type='number'],
.ui.form .input.error input[type='date'] {
  border-bottom: 2px solid var(--red);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui.form .field > input[disabled],
.ui.form .fields > input[disabled] {
  color: var(--gray);
}
