.ui.form .field > label,
.ui.form .fields > label {
  color: var(--dark-gray);
  font-weight: 400;
}

.ui.form .field.disabled > label,
.ui.form .fields.disabled > label {
  opacity: 1;
}

.ui.purple.label, .ui.purple.labels .label {
  background-color: var(--purple) !important;
  border-color: var(--purple) !important;
}

.ui.white.label, .ui.white.labels .label {
  background-color: #FFF !important;
  color: var(--purple) !important;
}
