.ui.secondary.pointing.menu .item:focus,
.ui.secondary.pointing.menu .item:active {
  outline: none;
}

.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover {
  border-color: var(--dark-purple);
  color: var(--dark-purple);
  cursor: pointer;
}
