{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "window": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "classes": true
    },
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error", {"printWidth": 80, "singleQuote": true, "semi": false}],
    "no-console": 0,
    "quotes": ["error", "single"],
    "no-extra-semi": ["error"],
    "semi": 0,
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "none",
      "ignoreRestSiblings": false
    }]
  }
}
