.DS_Store
.idea
data
postgres_data
out
newrelic_agent.log
/node_modules/

.env

/.idea/

/webapp/.idea/

*.todo
*.TODO
*.js.map

# **/*.js
src/Publication/*.js
src/database/*.js
src/utils/*.js
src/lib/*.js
