.WalletContributions {
}

.WalletContributions .heading .parcel-count {
  margin-left: 18px;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.WalletContributions .table-row {
  width: 100%;
  height: 68px;
  padding: 22px 24px;
}

.WalletContributions .parcel-row-editing {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.WalletContributions .table-row-empty {
  width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  font-size: 15px;
}

.WalletContributions .table-row.gray {
  background-color: #fbfbfb;
}

.WalletContributions .table .col {
  height: 100%;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.WalletContributions .table .col-district {
  width: 40%;
  margin-right: 20px;
}
.WalletContributions .table .col-contributed {
  width: 40%;
}

.WalletContributions .table .col-proposal {
  width: 15%;
}

.WalletContributions .table .col-proposal .link {
  color: #7b7b7b;
  text-align: right;
}

.WalletContributions .table .col-proposal .link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.WalletContributions .heading .parcel-count,
.WalletContributions .table-row-empty,
.WalletContributions .col-actions,
.WalletContributions .field label {
  color: #7b7b7b;
}
