.parcelMortgageDetail .pending p {
  color: var(--orange);
  text-transform: capitalize;
}

.parcelMortgageDetail .ongoing p{
  color: var(--light-blue);
  text-transform: capitalize;
}

.parcelMortgageDetail .mortgage-amount-icon{
  font-size: 15px;
}