.DashboardPage .empty {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: var(--gray);
  font-size: 16px;
}

.DashboardPage .dimmer {
  background-color: var(--background) !important;
  opacity: 0.8 !important;
}

.DashboardPage h3 {
  font-weight: 600;
}

.DashboardPage h3,
.DashboardPage .DashboardStats .ui.card .description,
.DashboardPage .DashboardStats .ui.card .meta {
  color: var(--text);
}

.DashboardPage .DashboardStats .ui.card .content .meta {
  margin-bottom: 3px;
}

.DashboardPage .DashboardStats .ui.card .content .description {
  font-size: 19px;
  font-weight: bold;
  margin-top: 10px;
}
