.BidConfirmationModal {
  color: var(--text);
  text-align: center;
}

.BidConfirmationModal .modal-body {
  padding: 30px 45px;
}

.BidConfirmationModal .title {
  margin-bottom: 16px;
  font-size: 32px;
}

.BidConfirmationModal .modal-body .description,
.BidConfirmationModal .modal-body .your-balance,
.BidConfirmationModal .modal-body .insufficient-funds {
  font-size: 17px;
  line-height: 1.53;
  letter-spacing: -0.2px;
  margin-bottom: 16px;
}

.BidConfirmationModal .modal-body .insufficient-funds {
  color: var(--error);
  margin-bottom: 40px;
}

.BidConfirmationModal .processing-tx {
  display: flex;
  justify-content: space-between;
  width: 242px;
  height: 44px;
  margin: 0 auto;
  background: black;
  border-radius: 6px;
  margin-bottom: 12px;
  align-items: center;
  padding: 16px;
  color: var(--gray);
}

.BidConfirmationModal .processing-tx .ui.tiny.loader {
  position: relative;
  top: 8px;
  right: -8px;
  left: auto;
}

.BidConfirmationModal .processing-tx .retry {
  color: var(--primary);
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.BidConfirmationModal .modal-body .agree-to-terms {
  margin: 40px 0;
}

.BidConfirmationModal .modal-body .ui.checkbox label,
.BidConfirmationModal .modal-body .ui.checkbox label:hover {
  color: var(--text);
}

.BidConfirmationModal .modal-body .actions .button:first-child {
  margin-bottom: 12px;
}

.BidConfirmationModal .modal-body .actions .button {
  width: 242px;
  height: 44px;
  display: block;
}

.BidConfirmationModal .modal-body.tutorial {
  padding: 0;
}

.BidConfirmationModal .tutorial header {
  padding: 16px;
  font-size: 20px;
  position: relative;
}

.BidConfirmationModal .tutorial header .go-back {
  font-size: 34px;
  top: 13px;
  left: 16px;
  position: absolute;
  font-weight: 300;
  cursor: pointer;
}

.BidConfirmationModal .tutorial .video-container {
  width: 100%;
  height: 324px;
}

.BidConfirmationModal .tutorial .video-container iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: 767px) {
  .BidConfirmationModal .modal-body {
    width: 605px;
  }

  .BidConfirmationModal .ui.icon.message {
    width: 70%;
    margin: 15px auto 0;
  }
}
