.CancelSalePage .subtitle {
  color: white;
  font-weight: 100;
  font-family: 'Source Sans Pro Light';
  font-size: 1.2em;
  margin: 20px;
  display: inline-block;
}

.CancelSalePage .subtitle + .subtitle {
  margin-top: 0px;
}

.CancelSalePage .price {
  font-family: 'Source Sans Pro';
}

.CancelSalePage button + button {
  margin-left: 15px !important;
}
