.CancelSalePage .ui.header.title {
  margin-top: 30px;
  margin-bottom: 0;
}

.CancelSalePage .subtitle {
  color: var(--dark-purple);
  font-weight: 100;
  font-family: 'Source Sans Pro Light';
  font-size: 1.2em;
  margin: 20px;
  display: inline-block;
}

.CancelSalePage .subtitle + .subtitle {
  margin-top: 0px;
}

.CancelSalePage .price {
  font-family: 'Source Sans Pro';
}

.CancelSalePage button + button {
  margin-left: 15px !important;
}
