.Page {
  position: relative;
  height: calc(100% - var(--navbar-height));
}

.Page > div {
  position: relative;
  min-height: calc(100% - var(--footer-height));
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--gradient);
}
