.Page {
  height: calc(100% - var(--navbar-height));
}

.Page > div {
  min-height: 70vh;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  min-height: calc(100% - var(--footer-height));
  background-color: var(--background);
}
