.Page {
  height: calc(100% - var(--navbar-height));
}

.Page > div {
  position: relative;
  min-height: calc(100% - var(--footer-height));
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(#1f2333, #0d0f17);
}

@media (max-width: 768px) {
  .Page > div {
    padding-left: 1em;
    padding-right: 1em;
  }
}
