.Navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: var(--navbar-height);
  justify-content: center;
  padding: 0px 25px;
  background-color: var(--background);
}

.Navbar .navbar-header {
  position: absolute;
  left: 25px;
}

.Navbar .navbar-account {
  position: absolute;
  right: 25px;
  display: flex;
  align-items: center;
}

.Navbar .navbar-icon {
  position: relative;
  width: 56px;
  height: 56px;
  float: left;
  background-color: #d7d1c7;
  border-radius: 30px;
}

.Navbar .navbar-back {
  color: white;
  background-color: var(--dark-gray);
  padding: 18px 14px;
  border-radius: 36px;
  width: 56px;
  height: 56px;
  display: block;
  cursor: pointer;
}

.Navbar .navbar-icon .Icon {
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.Navbar .navbar-icon .Icon-decentraland {
  width: 58px;
  height: 58px;
  left: -1px;
  top: -1px;
  position: relative;
  background-image: url('../../images/logo.svg');
}

.Navbar .navbar-icon .Icon-decentraland-loading {
  width: 77px;
  height: 77px;
  top: -10px;
  left: -11px;
  position: absolute;
  background-image: url('../../images/decentraland-loading.gif');
}

.Navbar .navbar-logo > h1 {
  margin: 0 15px;
  font-size: 19px;
  line-height: 50px;
  color: #232323;
  font-family: 'Source Sans Pro SemiBold', Helvetica, sans-serif;
}

.Navbar .navbar-menu .item,
.Navbar .navbar-account .item {
  color: var(--primary);
  transition: none;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: 13px;
  padding: 9px;
  font-weight: 100;
  color: var(--gray);
  margin: 0px 10px !important;
}

.Navbar .navbar-menu .ui.menu .item.active,
.Navbar .navbar-menu .ui.menu .item:hover,
.Navbar .navbar-account .ui.menu .item.active,
.Navbar .navbar-account .ui.menu .item:hover {
  background-color: var(--primary);
  color: #fff;
  transition: none;
  border-radius: 20px;
}

.Navbar .activity-menu {
  position: relative;
  width: 43px;
  height: 33px;
  margin-right: 30px !important;
  margin-bottom: 0px;
}

.Navbar .activity-menu .item {
  max-width: 33px;
  padding: 10px !important;
  margin-right: 25px !important;
  position: absolute;
}

.Navbar .activity-menu .Badge {
  position: absolute !important;
  transform: scale(0.8) translateX(-10px) translateY(-5px);
}

/* Same as Label color="white" found on Label.css */
.Navbar .activity-menu .item:hover .Badge {
  display: none;
}

.Navbar .hamburger {
  color: var(--primary);
  margin-right: 0.5em;
}

.Navbar .hamburger-wrapper {
  font-family: var(--font-family);
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.Navbar .sidebar {
  background: var(--gradient) !important;
  z-index: 2000 !important;
  box-shadow: 0px 0px 0px 0px black !important;
  transition: box-shadow 0.3s ease-in-out;
}

.Navbar .sidebar.visible {
  background: var(--gradient) !important;
  z-index: 2000 !important;
  box-shadow: 0px 0px 1500px 30px black !important;
}

.Navbar .menu.vertical .item {
  font-size: 2em !important;
  text-transform: none !important;
  background-color: transparent !important;
}

.Navbar .activity-badge-mobile {
  background: var(--primary) !important;
  margin-top: 5px !important;
}

.Navbar .navbar-menu .item.close-sidebar {
  margin: 10px 10px 30px 0px !important;
  cursor: pointer;
}

@media (min-width: 500px) {
  .Navbar {
    min-width: 400px;
  }
}

@media (max-width: 550px) {
  .Navbar {
    padding: 0px 20px;
  }

  .Navbar .navbar-account {
    right: 20px;
  }

  .Account .balance {
    display: none;
  }

  .Navbar .menu a.item {
    padding: 0.4em 0.7em !important;
    margin: 0 0.1em !important;
  }
}

@media (max-width: 920px) {
  .Navbar {
    justify-content: flex-start;
  }

  .Navbar .navbar-header:not(.navbar-modal) {
    display: none;
  }
}
