.Navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: var(--navbar-height);
  justify-content: center;
  padding: 0px 40px;
  background-color: var(--background);
}

.Navbar .navbar-header {
  position: absolute;
  left: 40px;
}

.Navbar .navbar-account {
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
}

.Navbar .navbar-icon {
  position: relative;
  width: 52px;
  height: 52px;
  float: left;
}

.Navbar .navbar-icon .Icon-decentraland-loading {
  width: 68px;
  height: 68px;
  position: absolute;
  top: -8px;
  left: -8px;
}

.Navbar .navbar-logo > h1 {
  margin: 0 15px;
  font-size: 19px;
  line-height: 50px;
  color: #232323;
  font-family: 'Source Sans Pro SemiBold', Helvetica, sans-serif;
}

.Navbar .navbar-logo .Icon-decentraland {
  width: 56px;
  height: 56px;
}

.Navbar .navbar-menu .item,
.Navbar .navbar-account .item {
  color: var(--primary);
  transition: none;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-size: 13px;
  padding: 9px;
  font-weight: 100;
  color: var(--gray);
  margin: 0px 10px !important;
}

.Navbar .navbar-menu .ui.menu .item.active,
.Navbar .navbar-menu .ui.menu .item:hover,
.Navbar .navbar-account .ui.menu .item.active,
.Navbar .navbar-account .ui.menu .item:hover {
  background-color: var(--primary);
  color: #fff;
  transition: none;
  border-radius: 20px;
}

.Navbar .activity-menu {
  position: relative;
  width: 43px;
  height: 33px;
  margin-right: 20px !important;
  margin-bottom: 0px;
}

.Navbar .activity-menu .item {
  max-width: 33px;
  padding: 10px !important;
  margin-right: 25px !important;
  position: absolute;
}

.Navbar .activity-menu .Badge {
  position: absolute !important;
  transform: scale(0.8) translateX(-10px) translateY(-5px);
}

/* Same as Label color="white" found on Label.css */
.Navbar .activity-menu .item:hover .Badge {
  display: none;
}

@media (min-width: 500px) {
  .Navbar {
    min-width: 400px;
  }
}

@media (max-width: 800px) {
  .Navbar {
    justify-content: flex-start;
  }

  .Navbar .navbar-header {
    display: none;
  }
}

@media (max-width: 550px) {
  .Navbar {
    padding: 0px 20px;
  }

  .Navbar .navbar-account {
    right: 20px;
  }

  .Account .balance {
    display: none;
  }

  .Navbar .menu a.item {
    padding: 0.4em 0.7em !important;
    margin: 0 0.1em !important;
  }
}
