.Navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 94px;
  justify-content: center;
  padding: 0px 40px;
}

.Navbar .navbar-header {
  position: absolute;
  left: 40px;
}

.Navbar .navbar-account {
  position: absolute;
  right: 40px;
}

.Navbar .navbar-icon {
  position: relative;
  width: 52px;
  height: 52px;
  float: left;
}

.Navbar .navbar-icon .Icon-decentraland-loading {
  width: 68px;
  height: 68px;
  position: absolute;
  top: -8px;
  left: -8px;
}

.Navbar .navbar-logo > h1 {
  margin: 0 15px;
  font-size: 19px;
  line-height: 50px;
  color: #232323;
  font-family: 'Source Sans Pro SemiBold', Helvetica, sans-serif;
}

.Navbar .navbar-logo .Icon-decentraland {
  width: 52px;
  height: 52px;
}

.Navbar .navbar-menu .item,
.Navbar .navbar-account .item {
  color: var(--purple);
  transition: none;
}

.Navbar .navbar-menu .ui.menu .item.active,
.Navbar .navbar-menu .ui.menu .item:hover,
.Navbar .navbar-account .ui.menu .item.active,
.Navbar .navbar-account .ui.menu .item:hover {
  background-color: var(--purple);
  color: #fff;
  transition: none;
}

/* Same as Label color="white" found on Label.css */
.Navbar .navbar-menu .ui.menu .item:hover .label {
  background-color: #fff !important;
  color: var(--purple) !important;
  transition: none;
}

@media (min-width: 500px) {
  .Navbar {
    min-width: 400px;
  }
}

@media (max-width: 800px) {
  .Navbar {
    justify-content: flex-start;
  }

  .Navbar .navbar-header {
    display: none;
  }
}

@media (max-width: 550px) {
  .Navbar {
    padding: 0px 20px;
  }

  .Navbar .navbar-account {
    right: 20px;
  }

  .Account .balance {
    display: none;
  }

  .Navbar .menu a.item {
    padding: 0.4em 0.7em !important;
    margin: 0 0.1em !important;
  }
}
