.Contribution {
  width: calc(100% - 14px) !important;
}

@media (min-width: 480px) {
  .Contribution {
    width: calc(50% - 14px) !important;
  }
}

@media (min-width: 768px) {
  .Contribution {
    width: calc(33% - 14px) !important;
  }
}

@media (min-width: 992px) {
  .Contribution {
    width: calc(25% - 14px) !important;
  }
}

.Contribution .body {
  position: relative;
}

.Contribution .icon.loading {
  color: var(--primary);
}

.Contribution .footer {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.Contribution .footer:after {
  display: none;
}

.Contribution .ui.header {
  color: var(--text) !important;
}

.Contribution .meta {
  margin-bottom: 30px;
}

.Contribution .land-count {
  position: absolute;
  bottom: 10px;
  color: var(--red) !important;
  display: flex;
  align-items: center;
}

.Contribution .land-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: var(--light-red);
  border: 1px solid var(--red);
  box-shadow: 0px 0px 10px 1px var(--red);
}
