.Page > .AssetDetailPage {
  padding-top: 0;
}

.AssetDetailPage {
  color: var(--text);
}

.AssetDetailPage > .Loading {
  font-size: 10px;
  top: 35%;
}

.AssetDetailPage .title {
  margin-top: 20px;
  margin-bottom: 30px !important;
}

.AssetDetailPage .parcel-preview {
  height: 400px;
}
