.EstateActions a + a {
  margin-left: 15px;
}

.EstateActions div {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .EstateActions .button {
    width: 100%;
    margin-bottom: 1em;
  }

  .EstateActions a + a {
    margin-left: 0px;
  }
}
