.MarketplacePage .ui.header.title {
  margin-bottom: 10px !important;
}

.MarketplacePage .publications {
  position: relative;
  margin-top: 50px;
  min-height: 200px;
  padding: 1px;
}

.MarketplacePage .pagination {
  margin-top: 50px;
  margin-bottom: 50px;
}

.MarketplacePage .empty {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: var(--gray);
  font-size: 16px;
}

.MarketplacePage .dimmer {
  background-color: var(--background) !important;
  opacity: 0.8 !important;
}
