.Minimap {
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.4) url('../../../images/minimap.png');
  background-size: contain;
  position: absolute;
  right: 60px;
  bottom: 20px;
  z-index: 1040;
  opacity: 0.9;
  border: 1px solid white;
}

.Minimap .minimap-focus {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}
