.AuctionPage {
  padding-top: 0px !important;
}

.AuctionPage .subtitle {
  color: var(--gray);
  margin-bottom: 5px;
}

.AuctionPage .information-block .subtitle {
  text-transform: uppercase;
}

.AuctionPage .parcel-preview {
  height: calc(100vh - 400px);
  min-height: 400px;
}

.AuctionPage .auction-details {
  margin: 30px 0;
}

.AuctionPage .information-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AuctionPage .information-block {
  position: relative;
}

.AuctionPage .information-block .ui.header {
  margin-top: 0;
}

.AuctionPage .subtitle.description {
  font-size: 18px;
  margin: 15px 0 0;
}

.AuctionPage .auction-panel {
  border-radius: 8px;
  border: 2px solid var(--outline);
}

.AuctionPage .empty-parcels-message {
  padding: 22px 24px 22px;
  color: var(--gray);
}

.AuctionPage .ParcelCoords {
  margin-left: 24px;
}

.AuctionPage .Chip.has-status .attribute {
  border-color: var(--gray);
  color: var(--gray);
}

.AuctionPage .ui.warning.message {
  margin-bottom: 20px;
}

.AuctionPage footer {
  padding: 16px 24px;
  border-top: 2px solid var(--outline);
  color: var(--gray);
}

.AuctionPage footer .available-parcels {
  margin-right: 20px;
}

.AuctionPage footer .footer-left .link {
  text-transform: uppercase;
  font-weight: 500;
}

.AuctionPage footer {
  display: flex;
  justify-content: space-between;
}

.AuctionPage .input-information {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  margin-right: 30px;
}

.AuctionPage .output-information {
  display: flex;
  align-items: center;
}

.AuctionPage .output-information .ui.button {
  min-width: 144px;
}
.AuctionPage .output-information {
  background-color: var(--dark-gray);
  padding: 12px 16px;
  border-radius: 10px;
}
.AuctionPage .output-information .information-block {
  margin: 0;
  flex-grow: 1;
}

.AuctionPage .output-information .information-block + .information-block {
  margin-left: 48px;
}

.AuctionPage .information-block .secondary {
  color: var(--gray);
}

.AuctionPage .information-block .secondary .tooltip {
  top: -2px;
}

.AuctionPage .ui.label.pointing {
  border-radius: 6px !important;
}

.AuctionPage .information-block .ui.label.pointing {
  background: var(--gray);
  color: white;
  font-weight: normal;
  position: absolute;
  bottom: 90%;
  left: -60px;
  width: 190px;
  font-size: 1em;
  text-align: center;
  padding: 12px 15px;
  line-height: 20px;
}

.AuctionPage .information-block .close {
  position: absolute;
  top: 5px;
  right: 10px;
}

.AuctionPage .chevron.icon {
  display: none !important;
}

.AuctionPage .parcel-count {
  display: none;
  color: var(--gray);
}

@media (max-width: 992px) {
  .AuctionPage .information-block,
  .AuctionPage .output-information {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .AuctionPage .chevron.icon {
    display: block !important;
    position: absolute;
    font-size: 20px !important;
    right: 10px;
    top: 0px;
    cursor: pointer;
  }

  .AuctionPage {
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px 0px 52px 0px !important;
  }

  .AuctionPage .parcel-preview {
    height: 100%;
  }

  .AuctionPage .ui.form {
    margin-bottom: 30px;
  }

  .AuctionPage .output-information {
    margin-top: 20px;
    border-radius: 0px;
  }

  .AuctionPage .output-information .ui.button {
    width: 100%;
  }

  .AuctionPage .information-blocks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .AuctionPage .input-information {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
    margin-right: 0px;
  }

  .AuctionPage .information-block .ui.label.pointing {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .AuctionPage .auction-panel {
    padding-top: 0px;
  }

  .AuctionPage .ParcelCoords {
    padding-top: 16px;
  }

  .AuctionPage footer {
    padding: 8px 16px;
  }

  .AuctionPage footer .footer-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
  }

  .AuctionPage footer .footer-left .available-parcels {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .AuctionPage footer .footer-left .link {
    white-space: nowrap;
  }

  .AuctionPage .input-information {
    display: flex;
  }

  .ui.container.auction-menu {
    position: fixed;
    top: calc(100% - 52px);
    bottom: auto;
    background-color: var(--background);
    margin: 0px !important;
    z-index: 1;
  }

  .AuctionPage .auction-menu.open {
    top: auto;
    bottom: 0px;
  }

  .AuctionPage .auction-menu.open .chevron.icon {
    transform: rotateZ(180deg);
    top: 4px;
  }

  .AuctionPage .empty-parcels-message {
    padding: 16px 16px 16px 16px;
  }

  .AuctionPage footer .footer-right {
    display: none;
  }

  .AuctionPage .ParcelCoords {
    margin-left: 16px;
    min-height: 89px;
    max-height: 156px;
    overflow: auto;
  }

  .AuctionPage .auction-details {
    margin: 0px 0px 180px 0px;
  }

  .AuctionPage .auction-actions {
    position: fixed !important;
    bottom: 0px;
    padding: 0px !important;
    z-index: 2;
    display: none !important;
  }

  .AuctionPage .auction-menu.open .auction-actions {
    display: block !important;
  }

  .AuctionPage .auction-actions .ui.form {
    margin-bottom: 0px;
  }

  .AuctionPage .parcel-count {
    display: inline-block;
  }

  .AuctionPage .auction-menu.open .parcel-count {
    display: none;
  }

  .AuctionPage .auction-menu .header {
    cursor: pointer;
  }
}
