.AuctionPage {
  padding-top: 0px !important;
}

.AuctionPage .subtitle {
  color: var(--gray);
  margin-bottom: 5px;
}

.AuctionPage .information-block .subtitle {
  text-transform: uppercase;
}

.AuctionPage .parcel-preview {
  height: 400px;
}

.AuctionPage .auction-details {
  margin: 30px 0;
}

.AuctionPage .information-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AuctionPage .information-block .ui.header {
  margin-top: 0;
}

.AuctionPage .parcels-included-description {
  font-size: 18px;
  margin: 15px 0 0;
}

.AuctionPage .auction-details .selected-parcels.column {
  display: flex;
  flex-wrap: wrap;
}

.AuctionPage .parcels-included {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.AuctionPage .ui.warning.message {
  margin-bottom: 20px;
}

.AuctionPage .ParcelAttributes {
  margin-top: 20px;
  margin-right: 15px;
}

.AuctionPage footer {
  color: var(--gray);
}

.AuctionPage footer .available-parcels {
  margin-right: 20px;
}

.AuctionPage footer .footer-left .link {
  text-transform: uppercase;
  font-weight: 500;
}

.AuctionPage footer {
  display: flex;
  justify-content: space-between;
}

.AuctionPage .bid-wrapper {
  display: flex;
  align-items: center;
}

.AuctionPage .bid-wrapper .ui.button {
  min-width: 144px;
}
.AuctionPage .bid-wrapper {
  background-color: var(--dark-gray);
  padding: 12px 16px;
  border-radius: 10px;
}

.AuctionPage .bid-wrapper .information-block + .information-block {
  margin-left: 48px;
}

@media (max-width: 768px) {
  .AuctionPage .information-block:first-child {
    margin-top: 30px;
  }

  .AuctionPage .information-blocks {
    display: block;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .AuctionPage .information-block {
    margin-top: 20px;
  }

  .AuctionPage .parcels-included {
    margin-top: 10px;
  }
}
