.MapControls .control-button {
  --border-radius: 5px;
}

.MapControls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-flow: row nowrap;
}

.Minimap + .MapControls {
  bottom: 180px;
}

.MapControls .control-button-group {
  display: flex;
  flex-flow: row nowrap;
}

.MapControls .control-button {
  border-radius: var(--border-radius);
  background-color: var(--background);
  border: 2px solid black;
  color: white;
  width: 35px;
  height: 28px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.MapControls .control-button .icon {
  width: 10px;
  height: 18px;
  transform: scale(0.9);
}

.MapControls .control-button .plus.icon,
.MapControls .control-button .minus.icon {
  transform: scale(0.7);
}

.MapControls .control-button.disabled {
  cursor: default;
}

.MapControls .control-button.disabled .icon {
  opacity: 0.5;
}

.MapControls .control-button + .control-button,
.MapControls .control-button + .control-button-group {
  margin-left: 10px;
}

.MapControls .control-button-group .control-button + .control-button {
  margin-left: 0px;
  border-radius: 0px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: none;
}

.MapControls .control-button-group .control-button:first-child {
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
  border-left: 2px solid black;
  border-right: none;
}
.MapControls .control-button-group .control-button:last-child {
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
  border-right: 2px solid black;
}
