.ProfilePage .title {
  margin-bottom: 10px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ProfilePage .title .address {
  color: var(--gray);
  font-size: 26px;
  margin-left: 10px;
}

.ProfilePage .profile-menu {
  margin-top: 23px;
}

.ProfilePage .profile-grid {
  position: relative;
  margin-top: 50px;
  min-height: 200px;
  padding: 1px;
}

.ProfilePage .pagination {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ProfilePage .empty {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #aaa;
  font-style: italic;
}

.ProfilePage .profile-owner {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #aaa;
}

.ProfilePage .profile-owner .AddressLink {
  height: 25px;
  margin-left: 5px;
}

.ProfilePage .label {
  background-color: var(--dark-gray) !important;
  color: white !important;
}

.ProfilePage .label.active {
  background-color: var(--red) !important;
}
