.ColorCodesButton {
  height: 30px;
  cursor: pointer;
}

.ColorCodesButton .top {
  width: 100%;
  height: 15px;
  float: left;
}

.ColorCodesButton .bottom {
  height: 20px;
}

.ColorCodesButton .square {
  width: 15px;
  height: 15px;
  display: inline-block;
}
