
.ExpandedSidebar {
  width: 620px;
  height: 100%;
  padding-bottom: 90px; /* Compensate the header */
  overflow: scroll;
}

/* -----------------------------------------------------------------------
 Marketplace Title */

.MarketplaceTitle {
  padding: 40px 24px;
}

.MarketplaceTitle h2 {
  margin: 0;
  font-size: 20px;
  color: #000000;
}

.MarketplaceTitle .address {
  font-size: 15px;
  float: right;
}

.MarketplaceTitle .Icon-address {
  margin-right: 12px;
  vertical-align: text-bottom;
}
