
.Button.btn {
  margin: 0 auto;
  padding: 13px 24px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  color: #FFF;
  border: none;
  display: inline-block;
}

.Button.btn-primary {
  background-color: #30D7A9;
}

.Button.btn-secondary {
  background-color: #D1D1D1;
}

.Button.btn-primary:hover, .Button.btn-primary:visited  {
  background-color: #30D7A9;
  box-shadow:  0 8px 30px rgba(48, 215, 169, 0.5);
  color: #FFF;
}

.Button.btn-secondary:hover, .Button.btn-secondary:visited  {
  background-color: #D1D1D1;
  box-shadow:  0 8px 30px rgba(230, 230, 230, 0.8);
  color: #FFF;
}

.Button-small {
  max-width: 60px;
}

.Button-big {
  padding: 22px 52px;
  width: 110px;
  height: 66px;
  font-size: 12pt;
}

.Button a {
  color: #FFF
}
.Button a:hover {
  color: #FFF;
  text-decoration: none;
}

.Button.btn[disabled] {
  cursor: default !important;
}

.Button.btn[disabled]:hover {
  box-shadow: none;
  color: #FFF;
}
