.Loading,
.Loading:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.Loading {
  margin: 20px auto;
  font-size: 4px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(48, 215, 169, 0.2);
  border-right: 1.1em solid rgba(48, 215, 169, 0.2);
  border-bottom: 1.1em solid rgba(48, 215, 169, 0.2);
  border-left: 1.1em solid #30D7A9;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loading-animation 0.8s infinite linear;
  animation: loading-animation 0.8s infinite linear;
}
@-webkit-keyframes loading-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
