
.UserParcels {
}

.UserParcels .heading .parcel-count {
  margin-left: 18px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.UserParcels .table-row {
  width: 100%;
  height: 64px;
  padding: 24px;
}

.UserParcels .parcel-row-editing {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.UserParcels .table-row-empty {
  width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  font-size: 15px;
}

.UserParcels .table-row.gray {
  background-color: #FBFBFB;
}

.UserParcels .table .col {
  height: 100%;
  float: left;
}

.UserParcels .table .col-editing { width: 90%; }
.UserParcels .table .col-coord   { width: 20%; }
.UserParcels .table .col-price   { width: 30%; }
.UserParcels .table .col-name    { width: 40%; }
.UserParcels .table .col-actions { width: 10%; }

.UserParcels .table .col-editing {
  font-family: "Source Sans Pro SemiBold", Helvetica, sans-serif;
}

.UserParcels .col-actions {
  cursor: pointer;
}

.UserParcels .col-actions .Icon {
  margin-right: 3px;
}

.UserParcels .editing-fields {
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
  display: flex;
}

.UserParcels .field {
  width: 50%;
  display: inline-block;
}

.UserParcels .field label {
  display: block;
}

.UserParcels .field input,
.UserParcels .field textarea {
  width: 66%;
  padding: 10px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.05);
  border-radius: 2px;
  border: none;
}

.UserParcels .field textarea {
  width: 95%;
}

.UserParcels .field input:focus,
.UserParcels .field textarea {
  outline-width: 0;
}


.UserParcels .heading .parcel-count,
.UserParcels .table-row-empty,
.UserParcels .col-actions,
.UserParcels .field label {
  color: #7B7B7B;
}
