.EstateSelectActions {
  margin-top: 30px;
}

.EstateSelectActions .button + .button {
  margin-left: 15px;
}

@media (max-width: 991px) {
  .EstateSelectActions {
    width: 100%;
    margin: 30px 0;
  }

  .EstateSelectActions .button {
    width: 100%;
    margin-bottom: 1em;
  }

  .EstateSelectActions .button + .button {
    margin-left: 0;
  }
}
