.toasts-container {
  bottom: 20px;
  right: 180px;
  position: absolute;
  z-index: 1040;
}

.toast {
  min-width: 220px;
  width: 290px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
  color: #FFF;
  background-color: #FFF;
}
.toasts-container .toast:last-child {
  margin-bottom: 0;
}

.toast-info {
  background-color: var(--blue);
}
.toast-success {
  background-color: var(--dark-green);
}
.toast-error {
  background-color: var(--red);
}
.toast-warning {
  background-color: var(--orange);
}

.toast .close {
  font-size: 19px;
  top: -9px;
  right: -12px;
  position: relative;
  float: right;
  cursor: pointer;
}
