.ColorKeyPage .message {
  max-width: 80%;
}

.ColorKeyPage .land-color-keys {
  padding: 35px 50px 20px 50px;
  margin: 26px 0;
  background: var(--dark-gray);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ColorKeyPage .land-color-keys h3 {
  margin-bottom: 0;
  font-size: 20px;
  color: #000;
  padding-right: 80px;
}

.ColorKeyPage .land-color-keys .land {
  min-width: 185px;
  margin-bottom: 15px;
  margin-right: 34px;
  overflow: hidden;
  display: inline-block;
}

.ColorKeyPage .land-color-keys .key {
  width: 32px;
  height: 32px;
  border: 1px solid #666;
  float: left;
  position: relative;
}

.ColorKeyPage .land-color-keys .text {
  padding-top: 5px;
  margin-left: 8px;
  float: left;
}

.ColorKeyPage .button.primary {
  margin-top: 16px;
}

@media (min-width: 768px) {
  .ColorKeyPage .land-color-keys {
    padding: 35px 0 20px 80px;
  }

  .ColorKeyPage .message {
    width: 770px;
    max-width: 100%;
  }

  .ColorKeyPage .land-color-keys .land {
    width: calc(100% / 3);
    margin-right: 0;
  }
}
