.Page > .ParcelDetailPage {
  padding-top: 0;
}

.ParcelDetailPage .ParcelDetail {
  padding-top: 35px;
  font-size: 15px;
}

.ParcelDetail .ParcelName .name {
  margin-right: 0.5em;
}

.ParcelDetailPage .parcel-owner-container {
  text-align: right !important;
}

.ParcelDetail .parcel-detail-row {
  margin-bottom: 2em;
}

.ParcelDetail .parcel-actions-container {
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.ParcelDetail h3 {
  font-family: var(--font-family) !important;
}

.ParcelDetail .mana-price-icon {
  font-size: 1.5em;
}

.ParcelDetail .time-left .PublicationExpiration {
  font-size: 20px;
  display: block;
  color: var(--gray);
}

@media (max-width: 992px) {
  .ParcelDetailPage .parcel-owner-container, ParcelDetail .parcel-actions-container {
    text-align: left !important;
  }

  .ui.stackable.grid {
    width: auto;
    margin-left: 0!important;
    margin-right: 0!important;
  }

  .ui.stackable.grid:not(.vertically)>.row {
      margin: 0;
      padding: 0;
  }

  .ui.grid>.stackable.stackable.row>.column, .ui.stackable.grid>.column.grid>.column, .ui.stackable.grid>.column.row>.column, .ui.stackable.grid>.column:not(.row), .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column, .ui.stackable.grid>.wide.column {
    width: 100%!important;
    margin: 0 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 1rem 1rem!important;
  }
}
