.Page > .ParcelDetailPage {
  padding-top: 0;
  padding-bottom: 120px;
}

.ParcelDetailPage {
  color: var(--text);
}

.ParcelDetailPage > .Loading {
  font-size: 10px;
  top: 35%;
}

.ParcelDetailPage .title {
  margin-top: 20px;
  margin-bottom: 30px !important;
}

.ParcelDetailPage .parcel-preview {
  height: 300px;
}

.ParcelDetailPage .ParcelDetail {
  padding-top: 35px;
  font-size: 15px;
}

.ParcelDetail .parcel-description {
  color: var(--dark-purple);
}

.ParcelDetail .parcel-description-empty {
  color: #aaa;
  font-style: italic;
}
