.Page > .ParcelDetailPage {
  padding-top: 0;
}

.ParcelDetailPage {
  color: var(--text);
}

.ParcelDetailPage > .Loading {
  font-size: 10px;
  top: 35%;
}

.ParcelDetailPage .title {
  margin-top: 20px;
  margin-bottom: 30px !important;
}

.ParcelDetailPage .parcel-preview {
  height: 296px;
}

.ParcelDetailPage .ParcelDetail {
  padding-top: 35px;
  font-size: 15px;
}

.ParcelDetail .ParcelName .name {
  margin-right: 0.5em;
}

.ParcelDetail .parcel-description {
  color: var(--gray);
}

.ParcelDetail .parcel-description-empty {
  color: #aaa;
  font-style: italic;
}

.ParcelDetailPage .parcel-owner-container {
  text-align: right !important;
}

.ParcelDetail .parcel-detail-row {
  margin-bottom: 2em;
}

.ParcelDetail .parcel-actions {
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.ParcelDetail .address-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.ParcelDetail .transaction-history-header {
  background-color: var(--darker-gray);
  border-radius: 10px 10px 0px 0px;
  text-transform: uppercase;
  color: var(--gray);
}

.ParcelDetail h3 {
  font-family: var(--font-family) !important;
}

.ParcelDetail .transaction-history-entry {
  background-color: var(--darker-gray);
}

.ParcelDetail .transaction-history-entry:last-child {
  border-radius: 0px 0px 10px 10px;
}

.ParcelDetail .transaction-history-header,
.ParcelDetail .transaction-history-entry {
  margin: 0em 1em;
}

.ParcelDetail .address-wrapper .AddressBlock {
  flex: none;
  margin-right: 0.5em;
}

.ParcelDetail .mana-price-icon {
  font-size: 1.5em;
}

.ParcelDetail .time-left .PublicationExpiration {
  font-size: 20px;
  display: block;
  color: var(--gray);
}

@media (max-width: 768px) {
  .ParcelDetail .address-wrapper .short-address {
    display: none;
  }
}
