.WalletParcels {
}

.WalletParcels .heading .parcel-count {
  margin-left: 18px;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.WalletParcels .table-row {
  width: 100%;
  height: 64px;
  padding: 24px;
}

.WalletParcels .parcel-row-editing {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.WalletParcels .table-row-empty {
  width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  font-size: 15px;
}

.WalletParcels .table-row.gray {
  background-color: #fbfbfb;
}

.WalletParcels .table .col {
  height: 100%;
  float: left;
}

.WalletParcels .table .col-editing {
  width: 75%;
}
.WalletParcels .table .col-coord {
  width: 20%;
}
.WalletParcels .table .col-price {
  width: 25%;
}
.WalletParcels .table .col-name {
  width: 27%;
}
.WalletParcels .table .col-actions {
  width: 25%;
}

.WalletParcels .table .col-editing {
  font-family: 'Source Sans Pro SemiBold', Helvetica, sans-serif;
}

.WalletParcels .col-actions {
  cursor: pointer;
}

.WalletParcels .col-actions .action {
  display: inline-block;
  margin-right: 10px;
}

.WalletParcels .col-actions .action-icon {
  margin-right: 4px;
}

.WalletParcels .col-actions .times {
  font-size: 17px;
  vertical-align: middle;
}

.WalletParcels .editing-fields {
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
  display: flex;
}

.WalletParcels .field {
  width: 50%;
  display: inline-block;
}

.WalletParcels .field label {
  display: block;
}

.WalletParcels .field input,
.WalletParcels .field textarea {
  width: 66%;
}

.WalletParcels .field textarea {
  width: 95%;
}

.WalletParcels .field input:focus,
.WalletParcels .field textarea {
  outline-width: 0;
}

.WalletParcels .heading .parcel-count,
.WalletParcels .table-row-empty,
.WalletParcels .col-actions,
.WalletParcels .field label {
  color: #7b7b7b;
}

.WalletParcels .error {
  padding-left: 24px;
  color: #e20505;
}
