.ParcelName {
  display: inline-block;
  margin-top: 0;
  font-size: 26px;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 400;
}

.ParcelName .map.icon {
  margin-right: 0.2em !important;
}
