.ParcelName {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}

.ParcelName a {
  display: inline-block;
  margin-top: 0;
}

.ParcelName a:hover {
  text-decoration: underline;
}

.ParcelName a:hover i {
  text-decoration: none;
}

.ParcelName .name {
  color: white;
  white-space: nowrap;
  font-weight: bold;
}

.ParcelName .marker.icon {
  margin-right: 0.1em !important;
  margin-left: -0.2em !important;
}

.ParcelName .marker.icon {
  margin-right: 0.1em !important;
}

.ParcelName.no-name .marker.icon {
  margin-left: -0.2em !important;
}
