.CollapsedSidebar {
  width: 86px;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.CollapsedSidebar header {
  background-color: var(--background);
  border-bottom: 1px solid var(--light-gray);
}

.CollapsedSidebar .ColorCodesButton {
  left: 31%;
  bottom: 180px;
  position: absolute;
}
