.CollapsedSidebar {
  width: 86px;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.CollapsedSidebar header {
  background-color: #fcfcfc;
  border-bottom: 1px solid #ededed;
}

.CollapsedSidebar .ColorCodesButton {
  left: 31%;
  bottom: 180px;
  position: absolute;
}
