.SidebarStats {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.SidebarStats li {
  margin-bottom: 50px;
}

.SidebarStats .stats-heading {
  font-size: 12px;
  color: #7b7b7b;
  margin-bottom: 7px;
}

.SidebarStats .stats-value {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000000;
}
