.TransferParcelForm .ui.input.address-input {
  max-width: 450px !important;
  display: block;
}

.TransferParcelForm .ui.input.address-input input {
  width: 100% !important;
}

.TransferParcelForm .transfer-warning {
  color: var(--gray);
  font-style: italic;
}
