.TransferParcelForm .ui.button {
  padding: 12px 42px;
}

.TransferParcelForm .ui.button + .ui.button {
  margin-left: 20px;
}

.TransferParcelForm .transfer-warning {
  color: var(--gray);
  font-style: italic;
}
