.HomePage {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.HomePage > .Loading {
  font-size: 10px;
  top: 35%;
}

.HomePage .settings {
  position: absolute;
  top: 20px;
  left: 20px;
}
