.EstateActions .button + .button {
  margin-left: 15px;
}

@media (max-width: 920px) {
  .EstateActions {
    width: 100%;
    margin: 1em 0;
  }

  .EstateActions .button {
    width: 100%;
    margin-bottom: 1em;
  }

  .EstateActions .button + .button {
    margin-left: 0px;
  }
}
