.ParcelCoords .collapsable-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ParcelCoords .collapsable-content .ParcelCoord {
  margin-right: 16px;
  margin-bottom: 16px;
}

@media (min-width: 767px) {
  .ParcelCoords {
    margin-top: 20px;
  }
}
