.ParcelOwner .is-address {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  color: var(--gray);
}

.ParcelOwner .is-address,
.ParcelOwner .has-access .link {
  margin-left: 20px;
}

.ParcelOwner .AddressBlock {
  height: 24px;
  margin-left: 10px;
}

.ParcelOwner .part-of {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--gray);
  max-width: 100%;
}
