.TransferModal {
  color: #3E396B;
  user-select: text;
}

.TransferModal .modal-header {
  padding: 15px 15px 0;
  border: none;
  background-color: #FCFCFC;
}

.TransferModal .banner {
  padding: 0px 0 25px;
  border-bottom: 1px solid #EDEDED;
  background-color: #FCFCFC;
  text-align: center;
}

.TransferModal .banner h2 {
  font-size: 28px;
  margin-top: 0;
  padding-top: 0;
  font-family: "Source Sans Pro Light", Helvetica, sans-serif;
}

.TransferModal .modal-body {
  padding: 30px 50px;
  text-align: center;
}

.TransferModal .modal-body p {
  font-family: "Source Sans Pro Light", Helvetica, sans-serif;
  font-size: 16px;
}

.TransferModal .modal-body .success-text {
  margin-bottom: 18px;
}

.TransferModal .modal-body .success-text h4 {
  margin-bottom: 5px;
  margin-top: 15px;
}

.TransferModal .modal-body .close-link {
  color: #666;
  margin-right: 10px;
  cursor: pointer;
}

.TransferModal .modal-body .address-container {
  margin: 30px 0;
}

.TransferModal .modal-body .address-input {
  width: 70%;
  margin: auto;
  padding: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  border: none;
  display: block;
}

.TransferModal .modal-body .error-message {
  margin-top: 10px;
  color: #A94442;
  word-break: break-word;
}

.TransferModal .modal-body .error-stack {
  padding: 10px 30px;
  text-align: left;
}

.TransferModal .submit-transfer {
  text-align: center;
}

.TransferModal .submit-transfer .Button {
  padding: 11px 44px;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .TransferModal .modal-dialog {
    width: 720px;
  }
}
