.Page > .AtlasPage {
  height: calc(100% - var(--footer-height));
  padding: 0;
}

.AtlasPage {
  position: relative;
  overflow: hidden;
}

.AtlasPage > .Loading {
  font-size: 10px;
  top: 35%;
}

.AtlasPage .settings {
  position: absolute;
  top: 20px;
  left: 20px;
}
