.EstateActions a + a {
  margin-left: 15px;
}

@media (max-width: 768px) {
  .EstateActions {
    width: 100%;
  }

  .EstateActions .button {
    width: 100%;
    margin-bottom: 1em;
  }

  .EstateActions a + a {
    margin-left: 0px;
  }
}
