.Prompt {
  color: var(--text);
  user-select: text;
}

.Prompt .modal-header {
  padding: 15px 15px 0;
  border: none;
  background-color: var(--background);
}

.Prompt .text {
  text-align: center;
}

.Prompt .modal-body {
  padding: 30px 50px;
  background-color: var(--background);
}

.Prompt .actions {
  margin-top: 50px;
  text-align: center;
  display: flex;
}

.Prompt .actions .button {
  padding: 11px 44px;
  border-radius: 20px;
}
