.Page > .CreateDetailPage {
  padding-top: 0;
}

.CreateDetailPage {
  color: var(--text);
}

.CreateDetailPage > .Loading {
  font-size: 10px;
  top: 35%;
}

.CreateDetailPage .title {
  margin-top: 20px;
  margin-bottom: 30px !important;
}

.CreateDetailPage .parcel-preview {
  height: 400px;
}

.CreateDetailPage .ParcelDetail {
  padding-top: 35px;
  font-size: 15px;
}

.ParcelDetail .ParcelName .name {
  margin-right: 0.5em;
}

.CreateDetailPage .parcel-owner-container {
  text-align: right !important;
}

.ParcelDetail .parcel-detail-row {
  margin-bottom: 2em;
}

.ParcelDetail .parcel-actions-container {
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.ParcelDetail h3 {
  font-family: var(--font-family) !important;
}

.ParcelDetail .mana-price-icon {
  font-size: 1.5em;
}

.ParcelDetail .time-left .PublicationExpiration {
  font-size: 20px;
  display: block;
  color: var(--gray);
}

@media (max-width: 768px) {
  .CreateDetailPage .parcel-owner-container {
    text-align: left !important;
  }
}
