.ParcelOwner.is-address {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  color: var(--gray);
}

.ParcelOwner.is-district {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--gray);
  max-width: 100%;
}

.ParcelOwner.is-district .district-name {
  color: var(--dark-gray);
}

.ParcelOwner .AddressLink {
  height: 24px;
  margin-left: 10px;
}
