/* TODO: width rules are duplicated on EstateCard */
.ParcelCard {
  width: calc(100% - 14px) !important;
}

@media (min-width: 480px) {
  .ParcelCard {
    width: calc(50% - 14px) !important;
  }
}

@media (min-width: 768px) {
  .ParcelCard {
    width: calc(33% - 14px) !important;
  }
}

@media (min-width: 992px) {
  .ParcelCard {
    width: calc(25% - 14px) !important;
  }
}

.ParcelCard .mortgage-status {
  text-transform: capitalize;
}

.ParcelCard .Mortgage.pending {
  color: var(--orange);
}

.ParcelCard .mortgage-status.ongoing {
  color: var(--light-blue);
}

.ParcelCard .mortgage-status.defaulted {
  color: var(--text);
}

.ParcelCard .publication-owner {
  position: absolute;
  right: 12px;
  top: 12px;
}

.ParcelCard .preview {
  height: 132px;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}

.ParcelCard .body {
  position: relative;
  padding: 1em;
}

.ParcelCard .description {
  font-size: 15px;
  margin-bottom: 5px;
  color: var(--text);
  overflow: hidden;
  display: flex;
}

.ParcelCard .name {
  margin-right: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ParcelCard .Mana {
  margin-left: auto;
}

.ParcelCard .ParcelAttributes {
  margin-top: 20px;
}

.ParcelCard:hover .ParcelAttributes .coords {
  color: var(--red);
  border-color: var(--red);
}
