.ParcelCard {
  width: calc(100% - 14px) !important;
}

@media (min-width: 480px) {
  .ParcelCard {
    width: calc(50% - 14px) !important;
  }
}

@media (min-width: 768px) {
  .ParcelCard {
    width: calc(33% - 14px) !important;
  }
}

@media (min-width: 992px) {
  .ParcelCard {
    width: calc(25% - 14px) !important;
  }
}

.ParcelCard .publication-owner {
  position: absolute;
  right: 12px;
  top: 12px;
}

.ParcelCard .preview {
  height: 140px;
  overflow: hidden;
}

.ParcelCard .body {
  position: relative;
  padding: 1em;
}

.ParcelCard .description {
  font-size: 15px;
  margin-bottom: 5px;
  color: var(--text);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70%;
  white-space: nowrap;
}

.ParcelCard .mana {
  font-size: 14px;
  top: 15px;
  right: 15px;
  position: absolute;
  display: inline;
}

.ParcelCard .footer {
  margin-top: 20px;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
}

.ParcelCard .footer:after {
  display: none;
}

.ParcelCard .coords {
  padding: 2px 9px 2px 7px;
  margin-right: 6px;
  font-size: 11px;
  border: 1px solid var(--gray);
  color: var(--text);
  border-radius: 4px;
}

.ParcelCard .coords .marker.icon {
  font-size: 12px;
  margin-right: 3px;
  line-height: 0.9;
}

.ParcelCard:hover .coords {
  color: var(--red);
  border-color: var(--red);
}
