.Page > .CreateDetailPage {
  padding-top: 0;
}

.CreateDetailPage {
  color: var(--text);
}

.CreateDetailPage > .Loading {
  font-size: 10px;
  top: 35%;
}

.CreateDetailPage .title {
  margin-top: 20px;
  margin-bottom: 30px !important;
}

.CreateDetailPage .parcel-preview {
  height: 400px;
}

.CreateDetailPage .ParcelDetail {
  padding-top: 35px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .CreateDetailPage .parcel-owner-container {
    text-align: left !important;
  }
}
