.ui.grid.stackable.grid.Bid {
  background: var(--darker-gray);
  border-radius: 10px;
  width: 100%;
  color: white;
  font-size: 16px;
}

.ui.grid.stackable.grid.Bid:not(.showAssetDetail) {
  margin: 1rem auto !important;
}

.ui.grid.stackable.grid.Bid > .row {
  padding: 0;
}

.Bid .row .column.asset-details {
  margin: -1rem;
}

.ui.grid.stackable.grid.Bid .inner-grid {
  margin: 0;
}

.Bid .row .column.asset-details a {
  display: block;
  height: 100%;
  min-height: 150px;
}

.Bid .row .ParcelCanvasWrapper {
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.Bid .row h3 {
  text-transform: uppercase;
  color: var(--gray);
  font-size: 14px;
}

.Bid .row .asset-name:hover {
  text-decoration: underline;
}

.Bid .row .asset-name:hover i {
  text-decoration: none;
}

.Bid .row .asset-name span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.Bid .row .address-wrapper a {
  display: flex;
  align-items: center;
}

.Bid .row .address-wrapper a .AddressBlock {
  flex: 0;
  height: 19px;
  margin-left: 0;
}

.Bid .row .address-wrapper a .short-address {
  margin-left: 7px;
  text-transform: capitalize;
}

.ui.grid.Bid .row .actions{
  text-align: left;
}

.ui.grid.stackable.grid.Bid:not(.showAssetDetail) .row .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ui.grid.Bid .row .actions button {
  margin: 0;
}

.ui.grid.Bid .row .actions button + button {
  margin-left: 15px !important;
}

@media(min-width: 758px) and (max-width: 992px) {
  .Bid .row h3 {
    font-size: 13px;
  }
}

@media(max-width: 768px) { 
  .Bid .row .column.asset-details a{
    margin: -1rem;
  }

  .ui.grid.Bid .row .actions {
    text-align: left;
  }

  .ui.grid.stackable.grid.Bid:not(.showAssetDetail) .row .actions {
    justify-content: flex-start;
  }
}