.SettingsPage {
  height: 100%;
  color: var(--text);
}

.SettingsPage > .Loading {
  font-size: 10px;
  top: 35%;
}

.SettingsPage .title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 42px;
  font-family: "Source Sans Pro Light", Helvetica, sans-serif;
  text-align: center;
}
