.Parcel {
  width: calc(100% - 14px) !important;
}

@media (min-width: 480px) {
  .Parcel {
    width: calc(50% - 14px) !important;
  }
}

@media (min-width: 768px) {
  .Parcel {
    width: calc(33% - 14px) !important;
  }
}

@media (min-width: 992px) {
  .Parcel {
    width: calc(25% - 14px) !important;
  }
}

.Parcel .preview {
  height: 140px;
  overflow: hidden;
}

.Parcel .name {
  color: white;
}

.Parcel .description {
  color: var(--gray);
}

.Parcel .coords {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline;
}

.Parcel .extra {
  position: relative;
  padding: 10px !important;
  color: var(--gray);
}

.Parcel:hover .extra {
  color: var(--red);
}
