.TransferManaPage .big-mana-icon .Mana .ManaIcon {
  margin-right: 0px;
}

@media (max-width: 768px) {
  .TransferManaPage .big-mana-icon {
    margin: 0 auto 50px;
  }
}

.TransferManaPage .mana-icon-wrapper {
  display: inline-block;
  transform: translateY(3px);
}
