.SettingsForm {
  margin: 30px 0;
}

.SettingsForm .tx-pending .authorize-detail {
  font-style: italic;
}

.SettingsForm.form .field {
  margin-bottom: 30px;
  overflow: hidden;
}

.SettingsForm.form .field > label,
.SettingsForm .ui.dropdown>.text {
  font-size: 16px;
}

.SettingsForm.form .ui.checkbox {
  margin-top: 5px;
  margin-right: 10px;
  float: left;
}

.SettingsForm .authorize-detail {
  font-size: 18px;
  margin-bottom: 0;
  overflow: hidden;
}

.SettingsForm .TxStatusText {
  font-size: 16px;
  font-style: italic;
}
